<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- Menu -->
    <img src="./menu.svg" class="hamburger-menu" />
    <nav class="mobile-menu">
      <a href="">Home</a>
      <a href="">Products</a>
      <a href="">Best products</a>
    </nav>

    <!-- Popover -->
    <div class="overlay"></div>
    <div class="popover-conteiner">
      <button class="popover-trigger">Show profile</button>
      <div class="popover-content">
        <img src="https://picsum.photos/80" />
        <h4>John Doe</h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non, ipsum.
        </p>
      </div>
    </div>
    <script src="./script.js"></script>
  </body>
</html>
