<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="accordion-item" data-accordion-id="1">
      <button class="accordion-title" data-accordion-id="1">
        <span>What is Frontend Mentor, and how will it help me?</span>
        <img src="./assets/icon-plus.svg" class="accordion-open-icon" />
        <img src="./assets/icon-minus.svg" class="accordion-close-icon hide" />
      </button>
      <p class="accordion-content hide">
        Frontend Mentor offers realistic coding challenges to help developers
        improve their frontend coding skills with projects in HTML, CSS, and
        JavaScript. It's suitable for all levels and ideal for portfolio
        building.
      </p>
    </div>
    <div class="accordion-item" data-accordion-id="2">
      <button class="accordion-title" data-accordion-id="2">
        <span>Is Frontend Mentor free?</span>
        <img src="./assets/icon-plus.svg" class="accordion-open-icon" />
        <img src="./assets/icon-minus.svg" class="accordion-close-icon hide" />
      </button>
      <p class="accordion-content hide">
        Yes, Frontend Mentor offers both free and premium coding challenges,
        with the free option providing access to a range of projects suitable
        for all skill levels.
      </p>
    </div>
    <script src="./script-multiple-accordin.js"></script>
  </body>
</html>
