* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
    font-family: sans-serif;
}

.tooltip-wrapper {
    position: absolute;
    display: inline-block;
    cursor: pointer;
}

.tooltip-text {
    display: none;
    position: relative;
    bottom: -28px;
    left: -72px;
    background-color: #333333;
    color: #ffffff;
    padding: 6px 10px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 13px;
    z-index: 100;
}

.tooltip-wrapper:hover .tooltip-text {
    display: inline;
}

/* State-ul active este aplicat unui element incepand cu apasarea click-ului
si se incheie odata cu eliberarea lui. Acelasi lucru se intampla si cu touch-ul */
/* .tooltip-wrapper:active {
    background-color: red;
} */

/* State-ul active este aplicat unui element incepand cu apasarea click-ului
si se incheie atunci cand dai click oriunde in afara elementului. 
Acelasi lucru se intampla si cu touch-ul 
By default, in state-ul focus pot fi introduse doar o serie anume de elemente de HTML (button, input etc).
Daca un element nu face parte din lista se poate introduce in status-ul focus daca ii adaugi atributul 
tabindex */
.tooltip-wrapper:focus .tooltip-text {
    display: inline;
}

.tooltip-arraw {
    display: none;
    height: 12px;
    width: 12px;
    background-color: #333333;
    position: absolute;
    bottom: -12px;
    left: 24px;
    transform: rotate(45deg);
}

.tooltip-wrapper:hover .tooltip-arraw {
    display: inline;
}