*{
    margin: 0px;
    font-family: "Inter", serif;
}

/* aici punem variabile de css */
:root{
    --green:hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --gray-800: hsl(0, 0%, 12%);
    --gray-900:hsl(0, 0%, 8%);
}

.page-body{
    background-color: var(--gray-900);
}

.presentation-card-container{
    background-color: hsl(0, 0%, 12%);
    width: 440px;
    border-radius: 12px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px; 
    }

.presentation-card-image{
    width: 120px;
    border-radius: 100px;
    display: block;
    /* funtioneaza doar pt elemente de tip block. imaginea nu este tip block */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.presentation-card-heading{
    color: hsl(0, 0%, 100%);
    /* aliniere text  */
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.presentation-card-location{
    color: var(--green);
    text-align: center;
    font-size: 14px;
    margin-bottom: 30px;
   }

.presentation-card-quote{
   color: var(--white);
   text-align: center;
   margin-bottom: 24px;
}    
   
.presentation-card-link {
     color: var(--white);
     display: block;
   
    text-align: center;
    text-decoration: none;
     background-color:var(--grey-700);
    padding: 12px;
    border-radius: 8px;
    margin-top: 16px;
    /* margin-bottom: 16px; */
   

   /* .presentation-card-link{:last-of-type */
    margin-top: 0px;
   }
   