* {
    margin: 0px;
    font-family: "Outfit";
}

:root {
    --white: hsl(0, 0%, 100%);

    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);

    --brown-800: hsl(14, 45%, 36%);

    --rose-50: hsl(330, 100%, 98%);
    --rose-800: hsl(332, 51%, 32%);
}

body {
    background-color: var(--stone-100);
}

.recipe-card-container {
    width: 668px;
    background-color: var(--white);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 36px;
}

.recipe-card-image {
    width: 100%;
    border-radius: 12px;
   margin-bottom: 32px;
}

.recipe-card-title {
    font-size: 40px;
    font-family: "Young Serif";
    margin-bottom: 20px;
    color: var(--stone-900);
}

.recipe-card-description {
    font-size: 16px;
    color: var(--stone-600);
    margin-bottom: 20px;
}

.preparation-time-container {
    background-color: var(--rose-50);
    padding: 24px;
    border-radius: 12px;
}

.preparation-time-container h3 {
    color: var(--rose-800);
    margin-bottom: 10px;
}

.preparation-time-container span {
    color: var(--rose-800);
    font-weight: 700;
    margin-bottom: 10px;
}

.preparation-time-container li {
    margin-bottom: 10px;
}
/* clasa pentru subtitluri 

.recipe-card-ingredients h2 {
    font-family: "Young Serif";
    color: var(--rose-800);
    margin-top: 20px;
    margin-bottom: 10px;
}
     */


.recipe-card-ingredients h2 {
    font-family: "Young Serif";
    color: var(--rose-800);
    margin-top: 20px;
    margin-bottom: 10px;
}

.recipe-card-ingredients li {
    margin-bottom: 10px;
}

.recipe-card-instruction {
    background-color: var(--rose-50);
    border-radius: 12px;
    font-weight: 600px;
}
.receipe-card-instruction h2 {
    font-family: "Young Serif";
    color: var(--rose-800);
    margin-top: 20px;
    margin-bottom: 10px;
}

.receipe-card-instruction span {
    color: var(--rose-800);
    font-weight: 700;
    margin-bottom: 10px;
}

.receipe-card-instruction li {
    margin-bottom: 10px;
}

.receipe-card-nutrition h2 {
    font-family: "Young Serif";
    color: var(--rose-800);
    margin-top: 20px;
    margin-bottom: 10px;
}

.receipe-card-nutrition p {
    font-size: 16px;
    margin-bottom: 20px;
}

.receipe-card-table span {
    color: var(--rose-800);
    font-weight: 700;
    margin-bottom: 10px;
}